Source: libnginx-http-status
Section: httpd
Priority: optional
Maintainer: Tomas Ebenlendr <tomas.ebenlendr@economia.cz>
Uploaders: Tomas Ebenlendr <tomas.ebenlendr@economia.cz>
Build-Depends: debhelper (>= 10),
               dpkg-dev (>= 1.15.5),
               libexpat-dev,
               libgd-dev,
               libgeoip-dev,
               libhiredis-dev,
               liblua5.1-0-dev [!i386 !amd64 !kfreebsd-i386 !armel !armhf !powerpc !powerpcspe !mips !mipsel],
               libluajit-5.1-dev [i386 amd64 kfreebsd-i386 armel armhf powerpc powerpcspe mips mipsel],
               libmhash-dev,
               libpam0g-dev,
               libpcre3-dev,
               libperl-dev,
               libssl-dev,
               libxslt1-dev,
               po-debconf,
               quilt,
               zlib1g-dev
Standards-Version: 4.3.0
Homepage: https://github.com/hnlq715/status-nginx-module
Vcs-Git: https://git.isrv.cz/itops/libnginx-http-status
Vcs-Browser: https://git.isrv.cz/itops/libnginx-http-status

Package: libnginx-mod-http-status
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Zoned status for NGINX
 This module provides statistics about served connections
 including upstream statistics, and may be splitted into zones.
